# BGW epsilon for CrI3 6x6 30 Ry bispinor test bed
# number_bands must match sigma.inp and cohsex.in
epsilon_cutoff 30.0
degeneracy_check_override
cell_slab_truncation
use_wfn_hdf5
frequency_dependence 0
number_bands 84
broadening 0.001

begin qpoints
__QPOINTS__
end
