# BGW sigma for CrI3 6x6 30 Ry bispinor test bed
# number_bands must match epsilon.inp and cohsex.in
# bare_coulomb_cutoff explicit (LORRAX default differs; we want BGW to match LORRAX's)
band_index_min 65
band_index_max 78
number_bands 84
screened_coulomb_cutoff 30.0
bare_coulomb_cutoff 30.0

frequency_dependence 0
exact_static_ch 0

cell_slab_truncation

degeneracy_check_override
use_wfn_hdf5
dont_use_vxcdat
use_kihdat

begin kpoints
__KPOINTS_SIGMA__
end
